/*
Copyright 2025 Asher Buk
SPDX-License-Identifier: Apache-2.0
https://github.com/AshBuk/FingerGo
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: #f5f5f5;
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #00ADD8;
    margin-bottom: 1rem;
}


